.idea/
*.pyc
jenkins/jenkins_home/.owner
jenkins/jenkins_home/.java/fonts/1.8.0_66-internal/fcinfo-1-local.jenkins.sfl-Linux-3.13.0-58-generic-en.properties
jenkins/jenkins_home/fingerprints/25/
jenkins/jenkins_home/fingerprints/42/
jenkins/jenkins_home/fingerprints/fa/
jenkins/jenkins_home/jobs/Deploy/builds/
jenkins/jenkins_home/jobs/Tests/builds/
jenkins/jenkins_home/logs/
jenkins/jenkins_home/queue.xml
jenkins/jenkins_home/copy_reference_file.log
jenkins/jenkins_home/jobs/Deploy/nextBuildNumber
jenkins/jenkins_home/jobs/Tests/nextBuildNumber
jenkins/jenkins_home/queue.xml.bak
jenkins/jenkins_home/Download metadata.log
jenkins/jenkins_home/config.xml
jenkins/jenkins_home/credentials.xml
jenkins/jenkins_home/fingerprints/
jenkins/jenkins_home/hudson.model.UpdateCenter.xml
jenkins/jenkins_home/hudson.plugins.git.GitTool.xml
jenkins/jenkins_home/identity.key.enc
jenkins/jenkins_home/init.groovy.d/
jenkins/jenkins_home/jobs/Deploy/lastStable
jenkins/jenkins_home/jobs/Deploy/lastSuccessful
jenkins/jenkins_home/jobs/Tests/lastStable
jenkins/jenkins_home/jobs/Tests/lastSuccessful
jenkins/jenkins_home/nodeMonitors.xml
jenkins/jenkins_home/updates/
jenkins/jenkins_home/userContent/
jenkins/jenkins_home/war/
