<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>localhost</name>
  <description>Your localhost machine, not a docker container!</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.10">
    <host>172.17.0.1</host>
    <port>22</port>
    <credentialsId>f77c608f-5d35-4a7d-bbdb-33d56d6930a6</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label></label>
  <nodeProperties/>
  <userId>anonymous</userId>
</slave>